<div class="panel panel-default dividas">
    <div class="panel-body">
        
       
        
        <a href="{{ path("clientes_cadastro", {"id": cliente.getId}) }}" class="btn btn-primary">Editar dados</a>
        <a href="{{ path("cliente_carta", {'nome': cliente.nome}) }}" target="_blank" class="btn btn-primary">Imprimir carta aniversário</a>
        <a href="javascript:abrirDocumentos({{ cliente.getId() }});" class="btn btn-primary">Ver documentos</a>
        
    </div><!-- panel-body -->
</div>
