<div class="panel panel-default negociacao">
    <div class="panel-heading">
        <h4 class="panel-title">Negociação</h4>
    </div><!-- panel-heading -->
    <div class="panel-body">
        {% if negociacao is empty or renegociacao == 1 %}
            <form class="" id="formNegociacao" action="{{ path('_cobranca_inseri_negociacao') }}">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Valor Atual</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">R$</button>
                                </span>
                                <input value="{{ divida.getValor()|number_format(2, ',', '.') }}" required="required" type="text" placeholder="Valor Atual" name="valorAtual" id="valorAtual" class="form-control"/>
                                <input type="hidden" name="valorreal" id="valorreal" value="{{ divida.getValor() }}"/>
                                <input type="hidden" name="idDivida" id="idDivida" value="{{ divida.getId() }}"/>
                            </div><!-- input-group -->
                        </div><!-- form-group -->
                    </div><!-- col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="entrada" class="control-label">Entrada</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">R$</button>
                                </span>
                                <input style="z-index: 1" type="text" placeholder="Entrada" name="entrada" id="entrada" class="entrada form-control"/>
                            </div><!-- input-group -->
                        </div><!-- form-group -->
                    </div><!-- col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="form-group">
                        <label for="numParcelas" class="control-label">Parcelas</label>
                        <br/>
                        <input required="required" type="text" placeholder="Parcelas" name="numParcelas" id="numParcelas" class="form-control"/>
                        </div>
                    </div><!-- col-sm-4 -->
                </div><!-- row -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Valor Parcela</label>
                            <h4 id="valorParcela"></h4>
                        </div><!-- form-group -->
                    </div><!-- col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Vencimento</label>
                            <input required="required" type="text" placeholder="Vencimento" id="vencimento" name="vencimento" class="form-control"/>
                        </div><!-- form-group -->
                    </div><!-- col-sm-4 -->
                     <div class="col-sm-2">
                        <div class="form-group">
                            <div class="radio"><label><input name="tipo" type="radio" value="A" checked=""> Administrativo</label></div>
                            <div class="radio"><label><input name="tipo" type="radio" value="J"> Judicial</label></div>
                        </div><!-- form-group -->
                    </div><!-- col-sm-2 -->
                    <div class="col-sm-2">
                        <button class="btn btn-primary form-control mt20" >Gerar parcelas</button>
                    </div><!-- col-sm-2 -->
                </div><!-- row -->
            </form>

        {% else %}
            {% for rowNegociacao in divida.getNegociacoes()|reverse %}
            <div class="table-responsive">
                <table class="table mb30">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Vencimento</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for parcela in rowNegociacao.getParcelas() %}
                        <tr>
                            <td>{{ parcela.getPromissoria }}/{{ rowNegociacao.getNumeroParcelas }}</td>
                            {% if rowNegociacao == negociacao %}
                                <td><a class="tooltips" data-placement="top" data-original-title="Data de vencimento" data-toggle="tooltip" title="Alterar Data de vencimento" href="javascript:alterarVencimento({{ parcela.getId() }}, '{{ parcela.getVencimento().format('d/m/Y') }}')">{{ parcela.getVencimento().format('d/m/Y') }}</a></td>
                                <td>{{ "R$ " ~ parcela.getValor()|number_format(2, ',', '.') }}</td>
                                {% if parcela.getPago() %}
                                    <td><a target="_blank" href="{{ path('_recibo', {'idParcela': parcela.getId()}) }}">Imprimir Recibo</a></td>
                                {% else %}
                                    <td><a href="javascript:darBaixa({{ parcela.getId() }})">Dar baixa</a></td>
                                {% endif %}
                            {% else %}
                                <td>{{ parcela.getVencimento().format('d/m/Y') }}</td>
                                <td>{{ "R$ " ~ parcela.getValor()|number_format(2, ',', '.') }}</td>
                                {% if parcela.getPago() %}
                                    <td><a target="_blank" href="{{ path('_recibo', {'idParcela': parcela.getId(), 'index': loop.index}) }}">Imprimir Recibo</a></td>
                                {% else %}
                                    <td>Não pago</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {#<a target="_blank" class="btn btn-default" href="{{ path('_promissoria', {'idNegociacao': rowNegociacao.getId()}) }}">Imprimir promissórias</a><br/><br/>#}
            </div>
            {% endfor %}
{#            <a class="btn btn-default tooltips" data-placement="top" data-original-title="Renogeociar a Dívida" data-toggle="tooltip" title="Renogeociar as parcelas em aberto" href="javascript:renegociar({{ divida.getId() }})">Renegociar</a>#}
        {% endif %}
    </div><!-- panel-body -->
</div>