<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#loading').hide();
        jQuery("#cliente_cpf").mask("999.999.999-99");
        jQuery("#cliente_nascimento").mask("99/99/9999").datepicker();;
        jQuery("#cliente_inicioAtividade").mask("99/99/9999").datepicker();;
        jQuery("#cliente_telefone, #cliente_telefone1, #cliente_telefone2").mask("(99) 9999-9999");
        
        jQuery("#cliente_cep").mask("99999-999", 
            {completed:function(){
                jQuery.getJSON('http://viacep.com.br/ws/'+this.val()+'/json/unicode/', function(data){
                    jQuery('#cliente_uf').val(data.uf);
                    jQuery('#cliente_cidade').val(data.localidade);
                    jQuery('#cliente_bairro').val(data.bairro);
                    jQuery('#cliente_endereco').val(data.logradouro);
                    if(jQuery('#cliente_uf').val()==''){
                        bootbox.alert('CEP Inválido');
                        jQuery("#cliente_cep").val('');
                    }
                })
            }}
        );

        jQuery("#basicForm").validate({
            rules: {
                "cliente[cpf]":             {required: true, cpf: true},
                "cliente[cnpj]":            {required: {
                                                    depends: function() { return (jQuery('#cliente_cpf').val() == ''); }
                                                }, cnpj: true},
                "cliente[email]":           {email: true},
                "cliente[nascimento]":      {brazilianDate: true},
                "cliente[inicioAtividade]": {brazilianDate: true},
            },
            highlight: function(element) {
                jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function(element) {
                jQuery(element).closest('.form-group').removeClass('has-error');
            },
            errorPlacement: function(error, element) {
                jQuery(element).closest('.form-group').append(error);
            },
            submitHandler: function(form) {
                var valor;
                for(var i=dividaCount; i>0;) {
                    i--;
                    valor = jQuery("#cliente_dividas_"+i+"_valor").maskMoney('unmasked')[0];
                    jQuery("#cliente_dividas_"+i+"_valor").maskMoney('destroy');
                    jQuery("#cliente_dividas_"+i+"_valor").val(valor);
                }

                jQuery('button').hide();
                jQuery('#loading').fadeIn(200);
                form.submit();
           }
        });
        
        var totalArquivos = {{ form.arquivos|length }};
        
        var previewNodeFoto = document.querySelector("#previews-foto");
        var previewTemplateDependente = document.querySelector("#previews-foto .thmb").parentNode.innerHTML;
        var previewTemplateFoto = previewNodeFoto.innerHTML;
        previewNodeFoto.innerHTML = "";
        
        Dropzone.autoDiscover = false;
        
        Dropzone.confirm = function(question, accepted, rejected) {
            bootbox.confirm(question, function(result) {
                return result ? accepted() : null != rejected ? rejected() : void 0;
            });
        };       
        
        var dividaCount         = '{{ form.dividas|length }}';
        var dependentesCount    = '{{ form.dependentes|length }}';

        for(var i=dividaCount; i>0;) {
            i--;
            jQuery("#cliente_dividas_"+i+"_vencimento").mask("99/99/9999").datepicker();
            jQuery("#cliente_dividas_"+i+"_valor").maskMoney({thousands:'.', decimal:','});
            jQuery("#cliente_dividas_"+i+"_valor").maskMoney("mask");
        }
        for(var i=dependentesCount; i>0;) {
            i--;
            jQuery("#cliente_dependentes_"+i+"_nascimento").mask("99/99/9999").datepicker();
            jQuery("#cliente_dependentes_"+i+"_telefone").mask("(99) 9999-9999");
        }

        jQuery("#dividas").find('.form-group').each(function() {
            addTagFormDeleteLink($(this));
        });
        
        jQuery("#dependentes").find('.form-group').each(function(index) {
            addTagFormDeleteLinkDependente($(this), index);
            dropzoneDependente(index);
        });
        
        function addTagFormDeleteLinkDependente($tagFormLi, index) {
            var $uploadButton = $('<div class="col-sm-2 media-manager fotoDependente-'+index+' "><button type="button" class="btn btn-default">Adicionar Imagem</button></div>');
            $tagFormLi.children("div").append($uploadButton);
            var $removeForm = $('<div class="col-sm-1"><button type="button" class="btn btn-default">Excluir</button></div>');
            $tagFormLi.children("div").append($removeForm);
            $removeForm.on('click', function(e) {
                e.preventDefault();
                jQuery.post("{{ path('upload_delete_temp') }}", {id: jQuery("input[name='cliente[dependentes]["+index+"][foto]']").val()});
                $tagFormLi.remove();
            });
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeForm = $('<div class="col-sm-1"><button type="button" class="btn btn-default">Excluir</button></div>');
            $tagFormLi.children("div").append($removeForm);
            
            $removeForm.on('click', function(e) {
                e.preventDefault();
                $tagFormLi.remove();
            });
        }

        jQuery('#add-divida').click(function(e) {
            e.preventDefault();
            
            var dividas = jQuery('#dividas');
            var $newWidget = dividas.attr('data-prototype');
            $newWidget = jQuery($newWidget.replace(/__name__/g, dividaCount));
            addTagFormDeleteLink($newWidget);
            jQuery("#dividas").append($newWidget);
            jQuery("#cliente_dividas_"+dividaCount+"_vencimento").mask("99/99/9999").datepicker();
            jQuery("#cliente_dividas_"+dividaCount+"_valor").maskMoney({thousands:'.', decimal:','});
            dividaCount++;
        });
        jQuery('#add-dependente').click(function(e) {
            e.preventDefault();
            
            var dependentes = jQuery('#dependentes');
            var $newWidget = dependentes.attr('data-prototype');
            $newWidget = jQuery($newWidget.replace(/__name__/g, dependentesCount));
            addTagFormDeleteLinkDependente($newWidget, dependentesCount);
            jQuery("#dependentes").append($newWidget);
            jQuery("#cliente_dependentes_"+dependentesCount+"_nascimento").mask("99/99/9999").datepicker();
            jQuery("#cliente_dependentes_"+dependentesCount+"_telefone").mask("(99) 9999-9999");
            dropzoneDependente(dependentesCount);
            dependentesCount++;
        });
        
        function dropzoneDependente(index) {
            jQuery(".fotoDependente-"+index).dropzone({
                url: '{{ path("upload_chunk") }}',
                uploadMultiple: false,
                previewsContainer: ".fotoDependente-"+index+"",
                previewTemplate: previewTemplateDependente,   
                thumbnailWidth: 60,
                thumbnailHeight: 80,
                maxFiles: 1,
                acceptedFiles: "image/*",
                dictDefaultMessage: "Arraste arquivos para cá",
                dictCancelUpload: "Cancelar upload",
                dictCancelUploadConfirmation: "Tem certeza que deseja cancelar upload?",
                dictRemoveFile: "Remover Imagem",
                dictMaxFilesExceeded: "Somente uma imagem é permitida",
                dictRemoveFileConfirmation: "Excluir definitavamente a imagem?",
                clickable: ".fotoDependente-"+index+" button", // Define the element that should be used as click trigger to select files.
            });
            
            var drop = Dropzone.forElement(".fotoDependente-"+index).on("error", function(file, errorMessage){
                bootbox.alert("Erro ao enviar Arquivo <strong>"+file.name+"</strong><br/> "+errorMessage);
                this.removeFile(file);
            }).on("success", function(file, data){
                var parse = JSON.parse(data);
                file.previewElement.querySelector(".barProgress").style.display = "none";
                file.previewElement.querySelector("a[data-dz-name]").innerHTML = parse.fileName;
                file.previewElement.querySelector("a[data-dz-name]").setAttribute("href", parse.link);            
                if (file.temp !== false) {
                    file.nome = parse.fileName
                    file.id = dependentesCount;
                    file.temp = true;
                    jQuery("input[name='cliente[dependentes]["+index+"][foto]']").val(file.nome);
                }
                jQuery(".fotoDependente-"+index+" button").hide();
            }).on("removedfile", function (file) {
                if (file.temp) {
                    jQuery.post("{{ path('upload_delete_temp') }}", {id: file.nome});
                    jQuery("#fotoDependente"+index+"").remove();
                } else {
                    jQuery("#cliente_dependentes_"+index+"_fotoExcluida").val(file.nome);
                }
                jQuery("input[name='cliente[dependentes]["+index+"][foto]']").val("");
                jQuery(".fotoDependente-"+index+" button").show();
            });
            
            if (jQuery("#cliente_dependentes_"+index+"_foto").val() != "") {
                var imagem = {
                    name:       jQuery("#cliente_dependentes_"+index+"_foto").val(), 
                    nome:       jQuery("#cliente_dependentes_"+index+"_foto").val(), 
                    id:         jQuery("#cliente_dependentes_"+index+"_foto").val(),
                    accepted:   true,
                    upload:     {progress: 0, total: '0', bytesSent: 0},
                    temp:       false
                };
                // Call the default addedfile event handler
                drop.files.push(imagem);
                drop.emit("addedfile", imagem);
                drop.createThumbnailFromUrl(imagem, '{{ path('cliente_arquivo_download') }}/'+jQuery("#cliente_dependentes_"+index+"_foto").val() );
                drop.emit("success", imagem, "{\"fileName\": \""+jQuery("#cliente_dependentes_"+index+"_foto").val()+"\", \"link\": \"{{ path('cliente_arquivo_download') }}/"+jQuery("#cliente_dependentes_"+index+"_foto").val()+"\" }");
            }
        }
        
        jQuery(".arquivos").dropzone({
            url: '{{ path("upload_chunk") }}',
            uploadMultiple: false,
            previewsContainer: "#previews-arquivos",
            previewTemplate: previewTemplateFoto,
            clickable: ".fileinput-button",
            dictDefaultMessage: "Arraste arquivos para cá",
            dictCancelUpload: "Cancelar upload",
            dictCancelUploadConfirmation: "Tem certeza que deseja cancelar upload?",
            dictRemoveFile: "Remover Imagem",
            dictMaxFilesExceeded: "Somente uma imagem é permitida",
            dictRemoveFileConfirmation: "Excluir definitavamente a imagem?",
        });

        jQuery(".foto").dropzone({
            url: '{{ path("upload_chunk") }}',
            uploadMultiple: false,
            previewsContainer: "#previews-foto",
            previewTemplate: previewTemplateFoto,   
            clickable: ".fotoinput-button",
            thumbnailWidth: 90,
            thumbnailHeight: 120,
            maxFiles: 1,
            acceptedFiles: "image/*",
            dictDefaultMessage: "Arraste arquivos para cá",
            dictCancelUpload: "Cancelar upload",
            dictCancelUploadConfirmation: "Tem certeza que deseja cancelar upload?",
            dictRemoveFile: "Remover Imagem",
            dictMaxFilesExceeded: "Somente uma imagem é permitida",
            dictRemoveFileConfirmation: "Excluir definitavamente a imagem?"
        });
        

        
        var foto = Dropzone.forElement(".foto").on("error", function(file, errorMessage){
            bootbox.alert("Erro ao enviar Arquivo <strong>"+file.name+"</strong><br/> "+errorMessage);
            this.removeFile(file);
        }).on("success", function(file, data){
            var parse = JSON.parse(data);
            file.previewElement.querySelector(".barProgress").style.display = "none";
            file.previewElement.querySelector("a[data-dz-name]").innerHTML = parse.fileName;
            file.previewElement.querySelector("a[data-dz-name]").setAttribute("href", parse.link);            
            if (file.temp !== false) {
                file.nome = parse.fileName
                file.id = parse.fileName;
                file.temp = true;
                jQuery("input[name='cliente[foto]']").val(file.id);
            }
            jQuery(".foto").hide();
        }).on("removedfile", function (file) {
            if (file.temp) {
                jQuery.post("{{ path('upload_delete_temp') }}", {id: file.id});
            } else if (!file.temp && file.id!="") {
                jQuery("form").append(jQuery("<input />").attr("type", "hidden").attr("name", "fotoExcluida").val(file.id));
            }
            jQuery("input[name='cliente[foto]']").val("");
            jQuery(".foto").show();
        });
        
        var myDrop = Dropzone.forElement(".arquivos").on("addedfile", function(file, data){
            this.createThumbnailFromUrl(file, '{{ asset('bundles/wzsistemascobranca/images/photos/media-doc.png') }}');
        }).on("error", function(file, errorMessage){
            bootbox.alert("Erro ao enviar Arquivo <strong>"+file.name+"</strong><br/> "+errorMessage);
            myDrop.emit("removedfile", file);
        }).on("success", function(file, data){
            var parse = JSON.parse(data);
            file.previewElement.querySelector(".barProgress").style.display = "none";
            file.previewElement.querySelector("a[data-dz-name]").innerHTML = parse.fileName;
            file.previewElement.querySelector("a[data-dz-name]").setAttribute("href", parse.link);            
            
            if (file.temp !== false) {
                file.nome = parse.fileName
                file.id = totalArquivos;
                file.temp = true;
                jQuery("form").append(jQuery("<input />").attr("type", "hidden").attr("name", "cliente[arquivos]["+totalArquivos+"]").attr("id", "cliente_arquivos_"+file.id).val(parse.fileName));
                totalArquivos++;
            }
        }).on("removedfile", function (file) {
            if (file.temp) {
                jQuery.post("{{ path('upload_delete_temp') }}", {id: file.nome});
            }
            jQuery("#cliente_arquivos_"+file.id).remove();
        });
        {% if cliente.foto != null %}
            var imagem = {
                name:       '{{ cliente.foto }}', 
                id:         '{{ cliente.foto }}',
                accepted:   true,
                upload:     {progress: 0, total: '0', bytesSent: 0},
                temp:       false
            };
            // Call the default addedfile event handler
            foto.files.push(imagem);
            foto.emit("addedfile", imagem);
            foto.createThumbnailFromUrl(imagem, '{{ path('cliente_arquivo_download', {nome: cliente.foto}) }}' );
            foto.emit("success", imagem, "{\"fileName\": \"{{ cliente.foto }}\", \"link\": \"{{ path('cliente_arquivo_download', {nome: cliente.foto}) }}\" }");
        {% endif %}
        {% for arquivo in form.arquivos %}
            // Create the mock file:
            var imagem = {
                name:       '{{ arquivo.vars.value }}', 
                id:         '{{ loop.index0 }}',
                accepted:   true,
                upload:     {progress: 0, total: '0', bytesSent: 0},
                temp:       false
            };
            // Call the default addedfile event handler
            myDrop.files.push(imagem);
            myDrop.emit("addedfile", imagem);
            myDrop.createThumbnailFromUrl(imagem, '{{ asset('bundles/wzsistemascobranca/images/photos/media-doc.png') }}');
            myDrop.emit("success", imagem, "{\"fileName\": \"{{ arquivo.vars.value }}\", \"link\": \"{{ path('cliente_arquivo_download', {nome: arquivo.vars.value}) }}\" }");
            jQuery("form").append("{{ form_widget(arquivo) }}");
        {% endfor %}        
});
</script>
