<!DOCTYPE html>
<html>
    <head>
        <title>Feliz Aniversário {{ clienteNome }}</title>
        <meta charset="UTF-8">
        <link href="{{ asset('bundles/wzsistemascobranca/css/style.default.css') }}" rel="stylesheet">
        <script>
           window.onLoad = window.print()
        </script>
    </head>
    <body style="margin: 0 auto; width: 980px; font-size: 14px; font-family: Arial;">
        <table style="padding: 1%; margin: 0 50px; width: 880px;">
            <tr>
                <td style="text-align: left; width: 25%">
                    <img width="160" src="{{ asset('bundles/wzsistemascobranca/images/image000.png') }}" />
                </td>
                <td style="text-align: center; width: 50%">
                    <h5><strong>WZSistemas </strong></h5>
                    Endereço do WZSistemas
                    <br/>
                    CEP 
                    <br/>
                    Telefone 
                   <br/>
                    <u>email@sindicato.com</u>
                </td>
                <td style="width: 25%; text-align: right;">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;">
                    <br/><br/><br/><br/>
                    Prezado (a) Senhor (a):
                    <h3><strong>{{ clienteNome }}</strong></h3>
                    <br/><br/>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;">
                    <p>
                        Nesta data especial, neste dia que é só seu, que a dádiva que é a vida seja celebrada em plenitude. A você as maiores e melhores felicitações de aniversário!
                    </p>
                    <br/>
                    <p>
                        Estes são os votos da Diretoria do WZSistemas dos Pescadores de Tramandaí.
                    </p>
                    
                    <br/><br/>
                    <h2>FELIZ ANIVERSÁRIO!</h2>
                    <br/><br/><br/><br/>
                    <p>Lembrete: Não esqueça de realizar a renovação da Carteira, a partir do seu aniversário você terá 30 (trinta) dias para efetuá-la.</p>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: left;">
                    
                    <br/><br/>
                </td>
            </tr>            
        </table>
    </body>
</html>
