{% spaceless %}
<div class="panel panel-default perfilCliente">
    <div class="panel-body">
        <div class="media profile-left">
            <a href="javascript:;;" class="pull-left profile-thumb">
                <img style="max-width: 200px;" alt="" src="{{ path('cliente_arquivo_download', {nome: cliente.foto}) }}" class="img-circle img-responsive">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ cliente.nome }}</h4>
                <small class="text-muted">{{ cliente.nascimento.format("d/m/Y") }} - {{ cliente.tipo }}</small>
            </div>
        </div>        
    </div><!-- panel-body -->
</div>
    
<div class="panel panel-default registros">
    <div class="panel-heading">
        <h4 class="panel-title">Registro</h4>
    </div><!-- panel-heading -->
    <div class="panel-body">
        <input id="idCliente" name="idCliente" type="hidden" value="{{ cliente.getId() }}"/>
        <textarea placeholder="Novo Registro" rows="5" name="textRegistro" id="textRegistro" class="form-control"></textarea> <br/>
        <button class="btn btn-primary" id="inserirRegistro" type="button">Registrar Histórico</button>
    </div><!-- panel-body -->
</div>
{% endspaceless %}       