<div class="leftpanel">

    <h5 class="leftpanel-title">Menu</h5>
    <ul class="nav nav-pills nav-stacked">
        
        <li {% if app.request.get('_route') == '_index' %} class="active"{% endif %}><a href="{{ path('_index') }}"><i class="fa fa-home"></i> <span>Home</span></a></li>
        
        {#{% if is_granted('ROLE_CONSULTA') %}
        <li {% if app.request.get('_route') == 'consulta_conveniada' %} class="active"{% endif %}><a href="{{ path('consulta_conveniada') }}"><i class="fa fa-user"></i> <span>Consultar Situação</span></a></li>
        {% endif  %}#}
        
{#        <li {% if app.request.get('_route') == 'parcelas_vencidas' %} class="active"{% endif %}><a href="{{ path('parcelas_vencidas') }}"><i class="fa fa-money"></i> <span>Parcelas Vencidas</span></a></li>#}
        {% if is_granted('ROLE_CLIENTE') %}
        <li class="parent {% if 'clientes' in app.request.get('_route') %} active{% endif %}"><a href=""><i class="fa fa-suitcase"></i> <span>Clientes</span></a>
            <ul class="children" >
                <li {% if app.request.get('_route') == 'clientes' %} class="active"{% endif %}><a href="{{ path('clientes') }}">Lista</a></li>
                <li {% if app.request.get('_route') == 'clientes_cadastro' %} class="active"{% endif %}><a href="{{ path('clientes_cadastro') }}">Cadastro</a></li>
            </ul>
        </li>
        {% endif  %}

        {% if is_granted('ROLE_NIVEL') %}
        <li {% if app.request.get('_route') == '_nivel' %} class="active"{% endif %}><a href="{{ path('_nivel') }}"><i class="fa fa-gear"></i> <span>Configurações</span></a></li>
        {% endif  %}
        
        {% if is_granted('ROLE_USUARIO') %}
        <li class="parent {% if '_usuario' in app.request.get('_route')  %} active{% endif %}"><a href=""><i class="fa fa-users"></i> <span>Usuarios</span></a>
            <ul class="children" >
                <li {% if app.request.get('_route') == '_usuario_form' %} class="active"{% endif %}><a href="{{ path('_usuario_form') }}">Novo</a></li>
                <li {% if app.request.get('_route') == '_usuario' %} class="active"{% endif %}><a href="{{ path('_usuario') }}">Lista</a></li>
            </ul>
        </li>
        {% endif  %}
        
{#        {% if is_granted('ROLE_CONVENIADA') %}
        <li class="parent {% if 'conveniada' in app.request.get('_route') %} active{% endif %}"><a href=""><i class="fa fa-users"></i> <span>Conveniada</span></a>
            <ul class="children" >
                <li {% if app.request.get('_route') == 'conveniada_index' %} class="active"{% endif %}><a href="{{ path('conveniada_index') }}">Lista</a></li>
                <li {% if app.request.get('_route') == 'conveniada_form' %} class="active"{% endif %}><a href="{{ path('conveniada_form') }}">Cadastrar</a></li>
            </ul>
        </li>
        {% endif  %}
#}        
{#        {% if is_granted('ROLE_COBRANCA') %}
        <li {% if app.request.get('_route') == '_cobranca' %} class="active"{% endif %}><a href="{{ path('_cobranca') }}"><i class="fa fa-suitcase"></i> <span>Ficha do Cliente</span></a></li>
        {% endif  %}
        
        {% if is_granted('ROLE_RELATORIO') %}
        <li {% if app.request.get('_route') == '_relatorios' %} class="active"{% endif %}><a href="{{ path('_relatorios') }}"><i class="fa fa-line-chart"></i> <span>Relatórios</span></a></li>
        {% endif  %}
#}        
    </ul>

</div><!-- leftpanel -->
