<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" method="POST" id="formCobranca" action="{{ path('relatorio_cobranca') }} ">
            <div class="form-group">
                <label class="col-sm-3 control-label">Início</label>
                 <div class="col-sm-7">
                     <input class="form-control" type="text" id="inicio" name="inicio"/>
                 </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Fim</label>
                 <div class="col-sm-7">
                     <input class="form-control" type="text" id="fim" name="fim"/>
                 </div>
            </div>
        </form>
    </div>
</div>